
.main-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.code-block{
  width: 20%;
  background-color: aliceblue;
}

.submit-button{
  margin-top:50px;
  width: 25%;
  background-color: green;
  font-size: 1.5em;
}